<h1>It's (sort of) a Dictionary!</h1>
#if($newWord)
  <h4>$newWord.getWord() successfully added!</h4>
#end
#if($words.size() > 0)
  #foreach($word in $words)
    <div class="word-output"><p class="word-display"><a href="/word/$word.getId()">$word.getWord()</a></p>
      <p="def-number">$word.getDefinitions().size() Definition(s)</p>
    </div>
  #end
#else
<h3>No Words Yet!</h3>
#end
