#if($word)
  <h1>$word.getWord()</h1>
  #if($postString)
  <h4>New definition successfully added!</h4>
  #end
  #if($word.getDefinitions().size()>0)
    <ul class="word-defs">
    #foreach($definition in $word.getDefinitions())
      <li>$definition.getDefString()</li>
    #end
  </ul>
  #else
    <p>No definitions yet!</p>
  #end
#else
  <h2>Whoops! Looks like we can't find that page :(</h2>
#end
