#if($word)
  <h1>Add a definition for $word.getWord()</h1>
  <form action="/word/$word.getId()" method="post">
    <input name="wordId" type="hidden" value="$word.getId()">
    <div class="form-group">
      <label for='def'>Enter your definition:</label>
      <input type="text" id="def" name="def" class="form-control" required>
    </div>
    <button class="btn btn-primary center-block">Add Definition</button>
  </form>
#else
  <h2>Whoops! Looks like we can't find that page :(</h2>
#end
